.count-down-area{display:none;position:fixed;z-index:201;top:0;bottom:0;left:0;right:0;background:rgba(0,0,0,.3)}.count-down-area p{position:absolute;top:50%;left:50%;width:120px;height:120px;margin-left:-60px;margin-top:-60px;background:#fff;border-radius:50%;font-size:80px;text-align:center;line-height:120px}


/* header_2cf7cd30ee.css */
.hidden{display:none}h1{display:none}.common-header{position:relative;font-size:18px;height:50px;text-align:center;background:#00cccc;color:#fff;margin-bottom:5px;z-index:100;top:0;left:0;right:0}.common-header a{color:#fff}.common-header.fixed{position:fixed}.common-header i{position:absolute;top:14px;font-size:24px;cursor:pointer}.common-header i.left-icon{left:20px}.common-header i.left-icon2{left:64px}.common-header i.left-icon3{left:108px}.common-header i.right-icon{right:20px}.common-header i.right-icon2{right:64px}.common-header i.right-icon3{right:108px}.common-header i.profile-icon{right:50px}.common-header i.profile-icon img{position:absolute;top:-4px;height:30px;cursor:pointer}.common-header p{padding-top:10px;margin:0}.search-wrapper{position:relative;width:70%;max-width:600px;margin:auto;padding:5px}.search-wrapper input#search{display:block;font-size:16px;font-weight:300;color:#000;background:#fff;width:100%;margin:0 auto;height:40px;padding:1px 30px;border:0;border-radius:2px;outline:0;transition:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.search-wrapper input#search:focus{box-shadow:none}.search-wrapper .icon-search{position:absolute;top:17px;left:0;margin-left:15px;color:#999}.search-wrapper .icon-cancel-circle{position:absolute;top:17px;right:0;margin-right:15px;color:#999;cursor:pointer;display:none}
/* header_2cf7cd30ee.css */
/* https://yun.cangqiang.com/bofang/bofan/countdown_8dc23bf9db-3.css */
/* https://yun.cangqiang.com/bofang/bofan/fonts/icomoon_02bfae7c4d.woff */
/* https://www.cangqiang.com.cn/bofang/bofan/fonts/ */
/* https://qpu.cangqiang.com/bofang/bofan/ */
/* https://yun.cangqiang.com/bofang/bofan/ */
/* icomoon_0dab0ceeb7.css */
@font-face{font-family:icomoon;src:url(https://qpu.cangqiang.com/bofang/bofan/fonts/icomoon_8372c7e662.eot);src:url(https://qpu.cangqiang.com/bofang/bofan/fonts/icomoon_02bfae7c4d.woff) format('woff'),url(https://qpu.cangqiang.com/bofang/bofan/fonts/icomoon_eb5bee4cbe.ttf) format('truetype'),url(https://qpu.cangqiang.com/bofang/bofan/fonts/icomoon_8372c7e662iefix.eot) format('embedded-opentype'),url("") format('svg');font-weight:400;font-style:normal}*{-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-font-smoothing:antialiased;-webkit-user-drag:none;-webkit-touch-callout:none;text-rendering:optimizeLegibility;-moz-osx-font-smoothing:grayscale;font-feature-settings:'liga'}[class^=icon-],[class*=" icon-"]{font-family:icomoon!important;speak:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.icon-home:before{content:"\e900"}.icon-newspaper:before{content:"\e904"}.icon-pencil:before{content:"\e905"}.icon-image:before{content:"\e90d"}.icon-images:before{content:"\e90e"}.icon-headphones:before{content:"\e910"}.icon-music:before{content:"\e911"}.icon-book:before{content:"\e91f"}.icon-books:before{content:"\e920"}.icon-file-text:before{content:"\e922"}.icon-profile:before{content:"\e923"}.icon-file-empty:before{content:"\e924"}.icon-files-empty:before{content:"\e925"}.icon-file-music:before{content:"\e928"}.icon-folder:before{content:"\e92f"}.icon-price-tag:before{content:"\e935"}.icon-barcode:before{content:"\e937"}.icon-qrcode:before{content:"\e938"}.icon-credit-card:before{content:"\e93f"}.icon-phone:before{content:"\e942"}.icon-envelop:before{content:"\e945"}.icon-location:before{content:"\e947"}.icon-compass2:before{content:"\e94a"}.icon-clock:before{content:"\e94e"}.icon-bell:before{content:"\e951"}.icon-calendar:before{content:"\e953"}.icon-floppy-disk:before{content:"\e962"}.icon-bubbles:before{content:"\e96c"}.icon-users:before{content:"\e972"}.icon-quotes-left:before{content:"\e977"}.icon-quotes-right:before{content:"\e978"}.icon-hour-glass:before{content:"\e979"}.icon-spinner:before{content:"\e97a"}.icon-spinner11:before{content:"\e984"}.icon-search:before{content:"\e986"}.icon-zoom-in:before{content:"\e987"}.icon-zoom-out:before{content:"\e988"}.icon-enlarge:before{content:"\e989"}.icon-shrink:before{content:"\e98a"}.icon-lock:before{content:"\e98f"}.icon-unlocked:before{content:"\e990"}.icon-equalizer2:before{content:"\e993"}.icon-cog:before{content:"\e994"}.icon-stats-dots:before{content:"\e99b"}.icon-gift:before{content:"\e99f"}.icon-bin:before{content:"\e9ac"}.icon-list2:before{content:"\e9bb"}.icon-menu:before{content:"\e9bd"}.icon-download2:before{content:"\e9c5"}.icon-upload2:before{content:"\e9c6"}.icon-link:before{content:"\e9cb"}.icon-attachment:before{content:"\e9cd"}.icon-eye:before{content:"\e9ce"}.icon-eye-blocked:before{content:"\e9d1"}.icon-star-empty:before{content:"\e9d7"}.icon-star-half:before{content:"\e9d8"}.icon-star-full:before{content:"\e9d9"}.icon-heart:before{content:"\e9da"}.icon-heart-broken:before{content:"\e9db"}.icon-warning:before{content:"\ea07"}.icon-plus:before{content:"\ea0a"}.icon-minus:before{content:"\ea0b"}.icon-cancel-circle:before{content:"\ea0d"}.icon-cross:before{content:"\ea0f"}.icon-checkmark:before{content:"\ea10"}.icon-play2:before{content:"\ea15"}.icon-pause:before{content:"\ea16"}.icon-stop:before{content:"\ea17"}.icon-play3:before{content:"\ea1c"}.icon-pause2:before{content:"\ea1d"}.icon-stop2:before{content:"\ea1e"}.icon-volume-high:before{content:"\ea26"}.icon-volume-low:before{content:"\ea28"}.icon-arrow-up2:before{content:"\ea3a"}.icon-arrow-right2:before{content:"\ea3c"}.icon-arrow-down2:before{content:"\ea3e"}.icon-arrow-left2:before{content:"\ea40"}.icon-appleinc:before{content:"\eabe"}.icon-android:before{content:"\eac0"}.icon-chrome:before{content:"\ead9"}.icon-firefox:before{content:"\eada"}.icon-IE:before{content:"\eadb"}.icon-safari:before{content:"\eadd"}

*::-webkit-scrollbar {
    display: none !important
}
/* icomoon_0dab0ceeb7.css */


/* media_c925e7f03d.css */
.media .score-img{max-width:100%}.media label{display:block;font-size:18px;padding-left:4px;margin:40px 0 20px}.media-item .card{padding:10px;border:1px solid #f1f1f1;box-shadow:none;width:100%;max-width:430px}.media-item .card:hover{box-shadow:0 0 0 4px rgba(0,0,0,.04)}.media-item .card-image{position:relative;padding-bottom:100%;border:1px solid #ddd;background-position:center center;background-repeat:no-repeat;background-size:100% auto}.media-item .card-image:after{position:absolute;top:100%;left:4px;right:4px;height:3px;border:1px solid #ddd;border-top:0;content:''}.media-item .card-content{padding:0;font-size:13px;line-height:1.3;margin-top:10px}.media-item .card-content .price{color:red;font-size:14px;margin-top:5px}.media-item .card-action{border-top:0;padding:0;background:#4CAF50;color:#fff;text-align:center;margin-top:10px;border-radius:4px}.media-item .card-action .action-btn{display:block;padding:8px 0;color:#fff!important;margin-right:0!important;transition:none!important}
/* media_c925e7f03d.css */



/* menu_c9a4aeeec0.css */
.menu {
    margin: 0;
    padding: 0
}

.menu li {
    cursor: pointer;
    display: block;
    float: left;
    border: 0;
    font-size: 16px;
    width: 120px;
    height: 120px;
    text-align: center
}

.menu li i {
    font-size: 40px;
    line-height: 70px;
    display: inline-block;
    font-style: normal;
    font-weight: 400
}

.menu li p {
    margin-bottom: 16px;
    margin-top: 0
}

.menu li:hover {
    background-color: #eee
}

#menu-modal {
    width: 480px;
    padding: 5px 0 30px;
}

.lean-overlay {
    height: 200%;
    width: 200%
}

@media screen and (max-width:370px) {
    #menu-modal {
        width: 240px
    }
}

@media screen and (max-width:500px) and (min-width:370px) {
    #menu-modal {
        width: 360px
    }
}
/* menu_c9a4aeeec0.css */

/* player_e1e739697f.css */
.accompanies{margin:60px 20px 0}.accompanies .accompany-item{width:100%;max-width:800px}.accompany-item .sm2-bar-ui{font-size:16px;border:1px solid rgba(0,0,0,.1);border-radius:4px}.accompany-item .sm2-bar-ui,.accompany-item .sm2-bar-ui .bd a{color:#666}.accompany-item .volume-shade{opacity:.12}.accompany-item .sm2-progress .sm2-progress-bar{background-color:rgba(0,0,0,.28)}.accompany-item .sm2-progress .sm2-progress-track{background-color:rgba(0,0,0,.2)}.accompany-item .sm2-progress .sm2-progress-ball{background-color:#6CC030}.accompany-item .sm2-bar-ui .sm2-main-controls,.accompany-item .sm2-bar-ui .sm2-playlist-drawer{background-color:#fff}.accompany-item .sm2-bar-ui .sm2-inline-texture{background:transparent}.accompany-item .sm2-bar-ui .sm2-inline-gradient{background-image:none}.accompany-item .sm2-bar-ui .bd .sm2-button-element:active{background-color:rgba(0,0,0,.1)}@media screen and (max-width:600px){.accompanies{margin:0 20px}}
/* player_e1e739697f.css */


/* song_14b7c49283.css */
.sheet{width:100%;text-align:center;display:none;cursor:pointer}#foot{margin:10px 5%}#tags-wrapper{text-align:center}#media-wrapper{text-align:center}.comment-item{color:#333}.comment-item h2{position:relative;margin:1.6rem 0 0;padding-bottom:.8rem;font-size:1.4rem;font-weight:700}.comment-item h2:after{position:absolute;content:'';bottom:0;left:0;right:0;height:1px;background:linear-gradient(to right,#333,transparent 30%)}.comment-item p{font-size:1.2rem}.wrapper{text-align:center;width:96%}#tags-wrapper{margin-bottom:20px}.thumb{display:none}#bpm{font-size:large}.select-div{margin-top:30px}#play-modal{height:80%;max-height:400px}
/* song_14b7c49283.css */


/* song-widget_e4f4a2f3cb.css */
#sheet,.sheet{transform-origin:left top;-webkit-transform-origin:0 0}.sheet-svg{transform-origin:left top;-webkit-transform-origin:0 0}.print-hint{display:none;width:660px;margin:50px auto 0}.print-hint h3{text-align:center}.print-hint ul{padding:0 20px}.print-hint ul li{list-style:initial}@media print{.noprint{display:none}.print-hint{display:block}}
/* song-widget_e4f4a2f3cb.css */