.menu {
    margin: 0;
    padding: 0
}

.menu li {
    cursor: pointer;
    display: block;
    float: left;
    border: 0;
    font-size: 16px;
    width: 120px;
    height: 120px;
    text-align: center
}

.menu li i {
    font-size: 40px;
    line-height: 70px;
    display: inline-block;
    font-style: normal;
    font-weight: 400
}

.menu li p {
    margin-bottom: 16px;
    margin-top: 0
}

.menu li:hover {
    background-color: #eee
}

#menu-modal {
    width: 480px;
    padding: 5px 0 30px;
}

.lean-overlay {
    height: 200%;
    width: 200%
}

@media screen and (max-width:370px) {
    #menu-modal {
        width: 240px
    }
}

@media screen and (max-width:500px) and (min-width:370px) {
    #menu-modal {
        width: 360px
    }
}